<form action="/token" method="post">
    <input type="text" value="password" name="grant_type" id="grant_type" readonly>
    <input type="text" name="UserName" id="UserName" required>
    <input type="password" name="Password" id="Password" required>
    <input type="submit" />
</form>